osx_image: xcode8.3
language: swift
xcode_project: CursValutarSwift.xcodeproj
xcode_scheme: CursValutarSwift
before_install:
  - brew update
  - carthage bootstrap --verbose
install: carthage update --platform iOS
script: xctool -scheme CursValutarSwift run-tests -test-sdk iphonesimulator10.3
